<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AppY</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AppY.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar top-navbar bg-body-tertiary p-2" id="MainTopOffNavbar">
            <div>
                <button type="button" class="btn btn-outline-danger border-0 btn-standard me-1 d-xxl-none d-xl-none d-lg-none d-md-none d-sm-block text-danger btn-close-sidebar btn-fixed-close-sidebar" style="display: none;"> <i class="fa-solid fa-xmark"></i> </button>
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="box-container float-end">
                        <button type="button" class="btn btn-standard me-1 float-end btn-open-container" id="CreateDiscussion_Container-Open"> <i class="fa-regular fa-square-plus btn-open-container" id="CreateDiscussion_Container-Open"></i> </button>
                        <button type="button" class="btn btn-standard me-1 float-end"> <i class="fa-regular fa-comments"></i> </button>
                    </div>
                }
            </div>
        </nav>

        <nav class="navbar navbar-expand-sm fixed-bottom bot-navbar shadow-sm pe-0 ps-0" id="MainBotOffNavbar">
            <div class="mx-auto">
                <div class="row" id="MainBotOffNavbar_Box">
                    @if (User.Identity!.IsAuthenticated)
                    {
                        <div class="col" id="ForthBtns_Box" style="display: none;">
                            <a href="#" class="btn btn-navbar w-100" style="display: none;" id="ForthMain_Btn"></a>
                            <button type="button" class="btn btn-navbar w-100" style="display: none;" id="ForthReserve_Btn"></button>
                        </div>
                    }
                    else
                    {
                        <div class="col" id="ForthBtns_Box">
                            <a asp-controller="Account" asp-action="Create" class="btn btn-navbar w-100" id="ForthMain_Btn"> <i class="fa-solid fa-arrow-right-to-bracket text-muted"></i> <br /><small>Sign</small>

                        </a>
                            <button type="button" class="btn btn-navbar w-100" style="display: none;" id="ForthReserve_Btn"></button>
                        </div>
                    }
                    <div class="col">
                        <a asp-controller="Home" asp-action="Index" class="btn btn-navbar w-100" id="FirstMain_Btn"> <i class="fa-solid fa-house text-muted"></i> <br /><small>Home</small></a>
                        <button type="button" class="btn btn-navbar w-100" style="display: none;" id="FirstReserve_Btn"></button>
                    </div>
                    <div class="col">
                        <a asp-controller="Home" asp-action="Search" class="btn btn-navbar w-100" id="SecondMain_Btn"> <i class="fa-solid fa-magnifying-glass text-muted"></i> <br /><small>Search</small></a>
                        <button type="button" class="btn btn-navbar w-100" style="display: none;" id="SecondReserve_Btn"></button>
                    </div>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="col">
                            <a asp-controller="User" asp-action="Notifications" class="btn btn-navbar w-100" id="FifthMain_Btn"> <i class="fa-regular fa-bell text-muted"></i> <br /><small>Notifications</small>

                        </a>
                            <button type="button" class="btn btn-navbar w-100" style="display: none;" id="FifthReserve_Btn"></button>
                        </div>
                    }
                    <div class="col">
                        <a asp-controller="User" asp-action="Account" class="btn btn-navbar w-100" id="ThirdMain_Btn"> <i class="fa-regular fa-circle-user text-muted"></i> <br /><small>Account</small></a>
                        <button type="button" class="btn btn-navbar w-100" style="display: none;" id="ThirdReserve_Btn"></button>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="main-container shadow-standard" id="CreateDiscussion_Container">
        <div class="header-container p-2 text-center" id="CreateDiscussion_Container-Header">
            <button type="button" class="btn btn-close rounded-circle float-end ms-1" id="CreateDiscussion_Container-Close" aria-label="close"></button>
            <h5 class="h5 text-truncate p-1">Create Discussion</h5>
        </div>
        <div class="box-container p-2 pt-1 mt-1" id="Prealoded_Container-Box">
            <div class="box-container">
                <form method="post" asp-controller="Discussion" asp-action="Create" id="CreateDiscussion_Form">
                    <div class="form-floating">
                        <input type="text" name="Name" id="CD_Name_Val" autocomplete="off" class="form-control shadow-none" maxlength="100" placeholder="Discussion name" />
                        <label for="CD_Name_Val" class="fw-500">Name</label>
                    </div>
                    <div class="ms-1">
                        <small class="card-text text-muted">Can be changed</small>
                    </div>
                    <div class="form-check form-switch mt-3">
                        <input class="form-check-input" name="IsPrivate" type="checkbox" id="CD_IsPrivate_Val" />
                        <label class="form-check-label fw-500" for="CD_IsPrivate_Val">Private Discussion</label>
                    </div>
                    <div class="ms-1">
                        <small class="card-text text-muted">Other users may only enter by special password (requires to be entered only on first enter)</small>
                    </div>
                    <div class="box-container mt-3">
                        <div class="row">
                            <div class="col">
                                <button type="submit" class="btn btn-primary bg-primary btn-standard-asset w-100">Create</button>
                            </div>
                            <div class="col">
                                <button type="button" class="btn btn-light btn-standard-asset w-100">Live Discussion</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="alert-container mx-auto p-2 shadow-sm" id="Alert_Container">
        <div class="p-1 ms-1">
            <div class="row">
                <div class="col col-2">
                    <h1 class="h1" id="Alert_Container-Icon"> <i class="fa-regular fa-bell text-neon-purple"></i> </h1>
                </div>
                <div class="col col-10">
                    <p class="card-text white-space-on w-100" id="Alert_Container-Text">Alert Text</p>
                </div>
            </div>
        </div>
        <div class="box-container mt-2">
            <button type="button" class="btn btn-standard btn-sm me-2" id="Alert_Container-Btn1">Button 1</button>
            <button type="button" class="btn btn-standard btn-sm" id="Alert_Container-Btn2">Button 2</button>
        </div>
    </div>

@*     <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/e46748ce25.js" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
