html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 17px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*.send-message-container:hover,
.send-message-container:active {
    opacity: 0;
}
.send-message-container:focus{
    opacity: 1;
}*/

.cur-user-reply-container {
    border-radius: 0;
    padding-left: 4px;
    border-left: 2px solid white;
    transition: all ease 0.3s;
}
.other-user-reply-container {
    border-radius: 0;
    padding-left: 4px;
    border-left: 2px solid black;
    transition: all ease 0.3s;
}

.blurred-lines {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: transparent;
    text-shadow: 0 0 8px #000;
}

.grouping-box {
    z-index: 1000;
    position: relative;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 3px;
    cursor: pointer;
    border: 1px solid #f0f0f0;
    background-color: transparent;
    backdrop-filter: blur(9px);
    width: 18%;
    border-radius: 34px;
    transition: all ease 0.3s;
}
.message-box {
    width: 100%;
    display: inline-block;
    margin-top: 8px;
    transition: all ease 0.3s;
}
.cur-user-msg-box {
    position: relative;
    float: right;
    cursor: pointer;
    max-width: 67%;
}
.cur-user-styled-msg-box {
    border-radius: 16px;
    background-color: #0d6efd;
    color: #fdfdfd;
    transition: all ease 0.3s;
}
.other-user-msg-box {
    position: relative;
    float: left;
    cursor: pointer;
    max-width: 67%;
}
.other-user-styled-msg-box {
    border-radius: 16px;
    background-color: #f0f0f0;
    color: black;
    transition: all ease 0.3s;
}

.dropdown-menu {
    border: 1px solid rgb(240, 240, 240);
    background-color: transparent;
    backdrop-filter: blur(9px);
    border-radius: 8px;
    transition: all ease 0.15s;
}
.dropdown-item {
    padding: 4px;
    cursor: pointer;
    border-radius: 8px;
    transition: all ease 0.3s;
}

.list-group {
    border-radius: 8px;
    transition: all ease 0.3s;
}

.bg-blur {
    background-color: transparent;
    backdrop-filter: blur(9px);
}

.btn-link {
    cursor: pointer;
    color: #fdfdfd;
    text-decoration: none;
    background-color: transparent;
    padding: 0;
    transition: all ease 0.3s;
}
.btn-link:hover,
.btn-link:active {
    color: black;
    border-radius: 34px;
    padding: 0 2px;
    background-color: #f0f0f0;
}

.btn-link-opp {
    cursor: pointer;
    color: black;
    text-decoration: none;
    background-color: transparent;
    padding: 0;
    transition: all ease 0.3s;
}
.btn-link-opp:hover,
.btn-link-opp:active {
    color: #f8f9fa;
    border-radius: 34px;
    padding: 0 2px;
    background-color: black;
}

.text-via-link {
    opacity: 1;
    text-decoration: underline;
    font-weight: 500;
    transition: all ease 0.3s;
}
.text-via-link:hover,
.text-via-link:active {
    cursor: pointer;
    opacity: 0.65;
}

.open-animated-collapse:focus {
    animation-name: plus-change-animation;
    animation-duration: 1.9s;
    animation-iteration-count: 1;
}

.z-index-the-ancient-one {
    z-index: 1001;
}
.image-picture-none-container {
    width: 95px;
    height: 95px;
    border-radius: 95px;
    background-color: rgb(240, 240, 240);
    transition: all ease 0.3s;
}
.unpictured-container-label {
    width: 95px;
    font-weight: 500;
    text-align: center;
    font-size: 50px;
    line-height: 95px;
    transition: all ease 0.3s;
}

.image-picture-none-container-md {
    width: 45px;
    height: 45px;
    border-radius: 45px;
    line-height: 45px;
    background-color: rgb(240, 240, 240);
    transition: all ease 0.3s;
}
.unpictured-container-label-md {
    width: 45px;
    font-weight: 500;
    text-align: center;
    font-size: 28px;
    line-height: 45px;
    transition: all ease 0.37s;
}

.image-picture-none-container-sm {
    width: 35px;
    height: 35px;
    border-radius: 35px;
    background-color: rgb(240, 240, 240);
    transition: all ease 0.3s;
}
.unpictured-container-label-sm {
    width: 35px;
    font-weight: 500;
    text-align: center;
    font-size: 20px;
    line-height: 35px;
    transition: all ease 0.37s;
}

.modal-content {
    border: 0;
    border-radius: 8px;
    transition: all ease 0.3s;
}

.z-index-standard {
    z-index: 100;
}

.transition-standard {
    transition: all ease 0.3s;
}

.msg-img-container {
    height: 190px;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    transition: all ease 0.3s;
}

.image-container {
    height: 90px;
    width: 90px;
    object-fit: cover;
    border: 1px solid #f0f0f0;
    border-radius: 90px;
    transition: all ease 0.3s;
}
.image-container-md {
    height: 55px;
    width: 55px;
    object-fit: cover;
    border: 1px solid #f0f0f0;
    border-radius: 55px;
    transition: all ease 0.3s;
}
.image-container-sm {
    height: 35px;
    width: 35px;
    object-fit: cover;
    border-radius: 35px;
    transition: all ease 0.3s;
}

.bg-gradient-one {
    background: rgb(63,94,251);
    background: -moz-linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}
.bg-gradient-cute {
    background: rgb(238,174,202);
    background: -moz-radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.indicator-badge {
    height: 14px;
    width: 14px;
    border-radius: 14px;
    cursor: pointer;
    margin-top: 3px;
    margin-right: 6px;
    display: inline-block;
    transition: all ease 0.3s;
}
.indicator-badge:hover,
.indicator-badge:active {
    opacity: 0.85;
}

.postheader-container {
    z-index: 10000;
    max-height: 120px;
    border-radius: 1px 1px 2px 2px;
    border: 0;
    border-bottom: 1px solid #f0f0f0;
}

.btn-group-member {
    cursor: pointer;
    border-radius: 8px;
    text-align: left;
    border: 1px solid transparent;
    background-color: #f8f9fa;
    transition: all ease 0.3s;
}
.btn-group-member:hover,
.btn-group-member:active {
    border: 1px solid #f8f9fa;
    background-color: rgb(240, 240, 240);
}

.form-control {
    border: 1px solid rgb(240, 240, 240);
    border-radius: 6px;
    resize: none;
    transition: all ease 0.45s;
}
.form-floating {
    padding: 0 0 1px 0;
    transition: all ease 0.45s;
}

.h-collapse-prehead {
    overflow-y: hidden;
    height: auto;
    min-height: 125px;
    max-height: 375px;
    transition: all ease 0.3s;
}

.user-via-shortname {
    cursor: pointer;
    border-radius: 34px;
    font-weight: 500;
    cursor: pointer;
    padding: 0 2px 0 2px;
    opacity: 1;
    background-color: transparent;
    transition: all ease 0.37s;
}
.user-via-shortname:hover,
.user-via-shortname:active {
    opacity: 0.75;
}

.relocate-to-discussion {
    cursor: pointer;
    opacity: 1;
    transition: all ease 0.3s;
}
.relocate-to-discussion:hover,
.relocate-to-discussion:active {
    opacity: 0.75;
}

.btn-bottom-rounded {
    border-radius: 0 0 8px 8px;
}
.btn-top-rounded {
    border-radius: 8px 8px 0 0;
}

.top-navbar {
    z-index: 1000;
    top: 0;
    backdrop-filter: blur(6px);
    position: fixed;
    border-radius: 1px;
    transition: all ease 0.3s;
}

.border-radius-sharp {
    border-radius: 0;
}

.special-form-control {
    cursor: pointer;
    font-family: 'Trebuchet MS';
    padding: 16px;
    width: 100%;
    font-size: 40px;
    outline: none;
    border-radius: 9px;
    border: 2px solid #865be9;
    background-color: transparent;
    transition: all ease 0.3s;
}
.special-form-control:focus {
    background-color: #f8f9fa;
}

.images-background-container {
    background-color: black;
    height: 100%;
    border-radius: 6px;
    transition: all ease 0.24s;
}
.images-img-container {
    width: 100%;
    height: 85%;
    object-fit: contain;
    border-radius: 8px;
    transition: all ease 0.24s;
}
.images-container {
    background-color: #f0f0f0;
    height: 100%;
    transition: all ease 0.24s;
}

.discussion-header {
    cursor: pointer;
    font-weight: 500;
    color: black;
    opacity: 1;
    transform: scale(1);
    transition: all ease 0.3s;
}
.discussion-header:hover,
.discussion-header:active {
    transform: scale(1.2);
    opacity: 0.65;
}

.nav-link {
    cursor: pointer;
    background-color: transparent;
    font-weight: 500;
    border: 0;
    transition: all ease 0.3s;
}
.nav-link:hover,
.nav-link:active {
    border: 1px 1px 0 1px solid #f8f9fa;
}

.style-font {
    font-family: 'Trebuchet MS';
}
.cursive-font {
    font-family: cursive;
}
.system-ui-font {
    font-family: system-ui;
}
.tahoma-font {
    font-family: Tahoma;
}
.serif-font {
    font-family: serif;
}
.math-font {
    font-family: 'Cambria Math'
}
.courier-font {
    font-family: 'Courier New';
}
.lucida-font {
    font-family: 'Lucida Console';
}

.btn-message-example {
    cursor: pointer;
    color: black;
    font-weight: 500;
    border-radius: 34px;
    background-color: #f8f9fa;
    transition: all ease 0.3s;
}
.btn-message-example:hover,
.btn-message-example:active {
    background-color: #f0f0f0;
}

.on-start-position {
    bottom: 0;
    display: block;
}

.messages-container {
    position: fixed;
    background-color: #f8f9fa;
    backdrop-filter: blur(9px);
    border-radius: 8px;
    transition: all ease 0.325s;
}

.message-form-control {
    cursor: pointer;
    background-color: #f8f9fa;
    border: 0;
    resize: none;
    padding: 10px;
    outline: none;
    border-radius: 8px;
    transition: all ease 0.325s;
}

.border-radius-rounded {
    border-radius: 100px;
}

.form-control-type-file {
    cursor: pointer;
    border-radius: 8px;
    width: 100%;
    background-color: rgb(240, 240, 240);
    border: 1px solid #f8f9fa;
    transition: all ease 0.3s;
}

.text-orange {
    color: darkorange;
}
.bg-orange {
    background-color: darkorange;
}

.tooltip-asset-one {
    border: 1px solid rgb(240, 240, 240);
    background-color: transparent;
    backdrop-filter: blur(9px);
    transition: linear: 0.2s;
}

.h6 {
    transition: linear 0.3s;
}
.h5 {
    transition: linear 0.3s;
}
.h4 {
    transition: linear 0.3s;
}
.h3 {
    transition: linear 0.3s;
}

.btn-standard-asset {
    cursor: pointer;
    border-radius: 6px;
    font-weight: 500;
    transition: all ease 0.3s;
}

.mh-230 {
    max-height: 230px;
}

.btn-standard {
    font-weight: 500;
    outline-color: transparent;
    background-color: transparent;
    cursor: pointer;
    border-radius: 6px;
    transition: all ease 0.3s;
}
.btn-standard:hover,
.btn-standard:active {
    background-color: rgb(240, 240, 240); 
}

.btn-close {
    cursor: pointer;
    font-weight: 500;
    padding: 7px;
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(240, 240, 240);
    transition: all ease 0.3s;
}
.btn-close:hover,
.btn-close:active {
    background-color: #f8f9fa;
}

.main-sidebar {
    z-index: 100;
    left: 0;
    position: absolute;
    width: 35%;
    height: 100%;
    max-height: 100%;
    background-color: #fdfdfd;
    border-radius: 0 1px 1px 0;
    border-right: 1px solid rgb(240, 240, 240);
    box-shadow: rgba(0, 0, 0, 0.1) 1px -2px 2px;
    display: block;
    transition: all ease 0.3s;
}

.alert-container {
    width: 40%;
    z-index: 1000;
    top: -1200px;
    background-color: transparent;
    border-radius: 6px;
    backdrop-filter: blur(9px);
    display: none;
    position: relative;
    transition: all ease 0.35s;
}

.main-container {
    z-index: 0;
    position: fixed;
    overflow-y: auto;
    border-radius: 12px 12px 1px 1px;
    background-color: #fdfdfd;
    bottom: -1200px;
    overflow-x: hidden;
    display: none;
    transition: all ease 0.55s;
}

.header-container {
    z-index: 10000;
    border-radius: 12px 12px 0 0;
    border: 0;
    background-color: transparent;
    backdrop-filter: blur(9px);
    border-bottom: 1px solid rgb(240, 240, 240);
    transition: all ease 0.2s;
}

.box-container {
    border-radius: 8px;
    transition: all ease 0.3s;
}

.bordered-container {
    border-radius: 6px;
    border: 1px solid rgb(240, 240, 240);
    transition: all ease 0.35s;
}

.slider-container {
    border: 0;
    border-radius: 8px;
    transition: linear 0.3s;
}

.smallside-box-container {
    z-index: 1;
    overflow-y: auto;
    bottom: -1200px;
    display: none;
    background-color: white;
    position: fixed;
    border-radius: 8px 8px 1px 1px;
    transition: all ease 0.55s;
}

.alert-badge {
    font-weight: normal;
    background-color: #865be9;
    color: #f8f9fa;
    transition: linear 0.3s;
}
.alert-badge:hover,
.alert-badge:active {
    background-color: #f8f9fa;
    color: #865be9;
}

.btn-set-status {
    cursor: pointer;
    border-radius: 34px;
    transition: all ease 0.3s;
}
.btn-set-status:hover,
.btn-set-status:active {
    padding: 1px 3px;
    background-color: #f0f0f0;
}

.reaction-bubble {
    margin: 0 4px 3px 0;
    background-color: #f8f9fa;
    border-radius: 70px;
    color: #0d6efd;
    padding: 3px 7px;
    cursor: pointer;
    height: 70px;
    width: 70px;
    transition: all ease 0.325s;
}
.reaction-container {
    width: auto;
    margin-bottom: 4px;
    padding: 2px 6px;
    border-radius: 34px;
    transition: all ease 0.37s;
}

.btn-navbar {
    cursor: pointer;
    background-color: transparent;
    color: black;
    font-weight: 500;
    border-bottom: 2px solid transparent;
    background-color: transparent;
    border-radius: 1px;
    transition: all ease 0.3s;
}
.btn-navbar:hover,
.btn-navbar:active {
    background-color: rgb(240, 240, 240);
    color: #0d6efd;
    border-radius: 6px 6px 1px 1px;
    border-bottom: 2px solid #A9A9A9;
}

.bot-navbar {
    z-index: 10;
    width: 100%;
    border-radius: 0;
    background-color: #f8f9fa;
    text-align: center;
    border: 0;
    border-top: 1px solid rgb(240, 240, 240);
    transition: all ease 0.3s;
}

.fw-500 {
    font-weight: 500;
}

.white-space-on {
    white-space: pre-wrap;
}

.bg-neon-purple {
    background-color: #865be9;
}
.text-neon-purple {
    color: #865be9;
}
.shadow-standard {
    box-shadow: rgba(0, 0, 0, 0.1) 1px -2px 2px;
}

@keyframes plus-change-animation {
    0% {
        transform: rotate(0);
    }
    33% {
        transform: rotate(900deg);
    }
    66% {
        transform: rotate(620deg);
    }
    100% {
        transform: rotate(720deg);
    }
}

@media screen and (max-width: 768px) {
    .alert-container {
        width: 90%;
    }
    .grouping-box {
        width: 35%;
    }
    .messages-box-separator {
        margin-top: 140px;
    }
}