@{
    ViewData["Title"] = "Home Page";
}

<div class="main-sidebar" id="Main_SideBar">

</div>

<div class="main-container shadow-standard" id="Preloaded_Container">
    <div class="header-container text-center" id="Preloaded_Container-Header">
        <button type="button" class="btn btn-close btn-sm rounded-circle float-end ms-1" aria-label="close" id="Preloaded_Container-Close"></button>
        <h5 class="h5 p-1 text-truncate">Home</h5>
    </div>
    <div class="box-container mt-1 p-2" id="Preloaded_Container-Box">
        
    </div>
</div>
